@font-face {
    font-family:GraphikLCG;
    src: url("../fonts/GraphikLCG/GraphikLCG-Regular.ttf");
}

@font-face {
    font-family: Helvetica;
    src: url("../fonts/Helvetica/helvetica_light.otf");
}

@font-face {
    font-family: HelveticaRegular;
    src: url("../fonts/Helvetica/helvetica_regular.otf");
}

@font-face {
    font-family: HelveticaBold;
    src: url("../fonts/Helvetica/helvetica_bold.otf");
}

@font-face {
    font-family: HelveticaNeueCyr;
    src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.ttf");
}